<ion-view view-title="Repo">
  <ion-content>
    <div  class="padding">
      <h1>{{repo.name}}</h1>
      <p>{{repo.full_name}}</p>
      <p>Owner:  {{repo.owner.display_name}}</p>
      <p>Language:  {{repo.language}}</p>

      <div class="button-bar">
        <a class="button button-positive">
          Watchers<br/>{{watchers}}
        </a>
        <a class="button button-positive">
          Forks<br/>{{forks}}
        </a>
        <a class="button button-positive">
          Pull requests<br/>{{pullrequests}}
        </a>
      </div>
      <label class="item item-input ">
        <input type="text" ng-model="exposed.branch" placeholder="branch name" >
      </label>

    </div>
    <ion-list>
      <div class="item" ng-repeat="commit in commits" >
        <h2>{{commit.message}}</h2>
        <h4>{{commit.hash}}</h4>
        <p>{{commit.author.raw}}</p>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
