<ion-view view-title="Repos">
  <ion-content>
    <ion-list>
        <a ng-repeat="repo in repos"
            class="item item-avatar"
            ui-sref="repository.details({owner: repo.owner, slug: repo.slug})">
          <img src="{{repo.logo}}">
          <h2>{{repo.name}}</h2>
          <p>{{repo.language}}</p>
        </a>
    </ion-list>
  </ion-content>
</ion-view>
